html,
body {
  height: 100%;
}

#root{
  height: inherit;
}

.app {
  overflow: auto;
  height: auto;
  min-height: 100%;
  text-align: center;
  background-color: #3b4457;
}

header {
  background-color: #353e50;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 92%;
  margin: auto;
}

.app-logo {
  height: 10vmin;
  pointer-events: none;
}

.mantine-Modal-title {
  margin: auto;
  font-size: initial;
  font-weight: 500;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 992px) {
  .header-wrapper {
    width: 75%;
  }

  .mantine-Modal-title {
    font-size: large;
    font-weight: 500;
  }

  .app-logo {
    height: 8vmin;
  }
}
